body {
  font-family: "helvetica neue", helvetical, arial;
  color: #999;
}

header {
  display: none;
}

section {
  float: none;
  clear: both;
  margin: 60px 20px;
}

ul.swatches {
  list-style: none; 
}

ul.swatches > li {
  height: 60px;
  line-height: 60px;
  border-left: 20px solid tranparent;
  padding-left: 10px;
}